@use '/css/framework/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Font //
$main-font: 'Open Sans', sans-serif;

body {
    font-family: $main-font;
}

.h1 {
    font-weight: 300;
    font-family: $main-font;
}

.h2, .h3, .h4, .h5 {
    font-weight: 700;
    font-family: $main-font;
}

// Grid Setup //

$grid-columns: 12 !default;

// Sets the Grid w/ standard 12 columns //
.grid {
    display: grid;
    --grid-cols: #{$grid-columns};
    grid-gap: var(--grid-gap, 0); //default grid-gap = 0
    grid-template-columns: repeat(var(--grid-cols), 1fr); //grid of 12 flexible columns

    > * {
        grid-column-end: span var(--grid-cols); // each grid item takes full width by default
    }
}

// Sets grid with min sized columns, new column emerges as room clears up for it, otherwise fits min amount of columns //
.grid-auto-xs,
.grid-auto-sm,
.grid-auto-md,
.grid-auto-lg,
.grid-auto-xl {
    display: grid;
    grid-gap: var(--grid-gap, 0);
    grid-template-columns: repeat(auto-fit, minmax(var(--col-min-width), 1fr));
}

// Grid auto *size* minimum widths //
.grid-auto-xs { --col-min-width: 8rem; }
.grid-auto-sm { --col-min-width: 10rem; }
.grid-auto-md { --col-min-width: 15rem; }
.grid-auto-lg { --col-min-width: 20rem; }
.grid-auto-xl { --col-min-width: 25rem; }

// Sets grid with auto sized equal columns (for each div) totaling up to 100% width //
.grid-auto-cols {
    display: grid;
    grid-gap: var(--grid-gap, 0);
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

// Sets grid gap inbetween grid items //
.grid-gap-xxxxs { --grid-gap: var(--space-xxxxs, -.125rem); }
.grid-gap-xxxs  { --grid-gap: var(--space-xxxs, 0.25rem); }
.grid-gap-xxs   { --grid-gap: var(--space-xxs, 0.375rem); }
.grid-gap-xs    { --grid-gap: var(--space-xs, 0.5rem); }
.grid-gap-sm    { --grid-gap: var(--space-sm, 0.75rem); }
.grid-gap-md    { --grid-gap: var(--space-md, 1.25rem); }
.grid-gap-lg    { --grid-gap: var(--space-lg, 2rem); }
.grid-gap-xl    { --grid-gap: var(--space-xl, 3.25rem); }
.grid-gap-xxl   { --grid-gap: var(--space-xxl, 5.25rem); }
.grid-gap-xxxl  { --grid-gap: var(--space-xxxl, 8.5rem); }
.grid-gap-xxxxl { --grid-gap: var(--space-xxxxl, 13.75rem); }


// Sets length of each grid item in columns using Span //
@for $i from 1 through $grid-columns {
    .col-#{$i} { grid-column-end: span #{$i}; }
}

// Sets length of each grid item in columns using col-start/col-end //
@for $i from 1 through $grid-columns {
    .col-start-#{$i} { grid-column-start: #{$i}; }
    .col-end-#{$i+1} {grid-column-end: #{$i+1}; }
}

// Breakpoint Modifiers //

$breakpoints: (
  xs: 32rem, 
  sm: 48rem,
  md: 64rem,
  lg: 80rem,
  xl: 90rem
) !default;

@mixin breakpoint($breakpoint) {
  @media (min-width: map-get($map: $breakpoints, $key: $breakpoint)) { @content; }
}

// x-small //
@include breakpoint(xs) {
  .grid-auto-xs\@xs { --col-min-width: 8rem; }
  .grid-auto-sm\@xs { --col-min-width: 10rem; }
  .grid-auto-md\@xs { --col-min-width: 15rem; }
  .grid-auto-lg\@xs { --col-min-width: 20rem; }
  .grid-auto-xl\@xs { --col-min-width: 25rem; }

  .grid-auto-cols\@xs { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }

  @for $i from 1 through $grid-columns {
    .col-#{$i}\@xs  { grid-column-end: span #{$i}; }
    .col-start-#{$i}\@xs { grid-column-start: #{$i}; }
    .col-end-#{$i+1}\@xs { grid-column-end: #{$i+1}; }
  }

  .col-start-auto\@xs { grid-column-start: auto; }
  .col-end-auto\@xs { grid-column-end: auto; }
}

// small //
@include breakpoint(sm) {
    .grid-auto-xs\@sm { --col-min-width: 8rem; }
    .grid-auto-sm\@sm { --col-min-width: 10rem; }
    .grid-auto-md\@sm { --col-min-width: 15rem; }
    .grid-auto-lg\@sm { --col-min-width: 20rem; }
    .grid-auto-xl\@sm { --col-min-width: 25rem; }
  
    .grid-auto-cols\@sm { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
  
    @for $i from 1 through $grid-columns {
      .col-#{$i}\@sm  { grid-column-end: span #{$i}; }
      .col-start-#{$i}\@sm { grid-column-start: #{$i}; }
      .col-end-#{$i+1}\@sm { grid-column-end: #{$i+1}; }
    }
  
    .col-start-auto\@sm { grid-column-start: auto; }
    .col-end-auto\@sm { grid-column-end: auto; }
  }

// Medium //
@include breakpoint(md) {
    .grid-auto-xs\@md { --col-min-width: 8rem; }
    .grid-auto-sm\@md { --col-min-width: 10rem; }
    .grid-auto-md\@md { --col-min-width: 15rem; }
    .grid-auto-lg\@md { --col-min-width: 20rem; }
    .grid-auto-xl\@md { --col-min-width: 25rem; }
  
    .grid-auto-cols\@md { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
  
    @for $i from 1 through $grid-columns {
      .col-#{$i}\@md  { grid-column-end: span #{$i}; }
      .col-start-#{$i}\@md { grid-column-start: #{$i}; }
      .col-end-#{$i+1}\@md { grid-column-end: #{$i+1}; }
    }
  
    .col-start-auto\@md { grid-column-start: auto; }
    .col-end-auto\@md { grid-column-end: auto; }
  }

// large //
@include breakpoint(lg) {
    .grid-auto-xs\@lg { --col-min-width: 8rem; }
    .grid-auto-sm\@lg { --col-min-width: 10rem; }
    .grid-auto-md\@lg { --col-min-width: 15rem; }
    .grid-auto-lg\@lg { --col-min-width: 20rem; }
    .grid-auto-xl\@lg { --col-min-width: 25rem; }
  
    .grid-auto-cols\@lg { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
  
    @for $i from 1 through $grid-columns {
      .col-#{$i}\@lg  { grid-column-end: span #{$i}; }
      .col-start-#{$i}\@lg { grid-column-start: #{$i}; }
      .col-end-#{$i+1}\@lg { grid-column-end: #{$i+1}; }
    }
  
    .col-start-auto\@lg { grid-column-start: auto; }
    .col-end-auto\@lg { grid-column-end: auto; }
  }  

// x-large
@include breakpoint(xl) {
    .grid-auto-xs\@xl { --col-min-width: 8rem; }
    .grid-auto-sm\@xl { --col-min-width: 10rem; }
    .grid-auto-md\@xl { --col-min-width: 15rem; }
    .grid-auto-lg\@xl { --col-min-width: 20rem; }
    .grid-auto-xl\@xl { --col-min-width: 25rem; }
  
    .grid-auto-cols\@xl { grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
  
    @for $i from 1 through $grid-columns {
      .col-#{$i}\@xl  { grid-column-end: span #{$i}; }
      .col-start-#{$i}\@xl { grid-column-start: #{$i}; }
      .col-end-#{$i+1}\@xl { grid-column-end: #{$i+1}; }
    }
  
    .col-start-auto\@xl { grid-column-start: auto; }
    .col-end-auto\@xl { grid-column-end: auto; }
  }





